.pallet-filter{
  margin-right: 6rem;
}
.pallet-filter p {
  color: gray;
  text-align: center;
  margin: .2rem;
  font-size: 1rem;
  font-weight: bold
}

.pallet-filter-container-gen {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem
}

.light-sat-gen{
  justify-content: center;
  display: block;
  margin-top: 2.5rem;
}
