.login-container{
  display: flex;
  justify-content: center;
}

.login-form-container{
  margin-top: 5rem;
  text-align: left;
  border: 3px solid #e5e5e5;
  background-color: #efefef;
  border-radius: .2rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.login-form input{
  margin-bottom: 1.5rem;
  margin-top: .3rem;
  color: gray;
  width: 12.5rem;
  padding: .2rem;
  font-size: .9rem;
}
.login-form label{
  padding-left: .4rem;
  color: gray;
  font-size: 1.1rem;
  font-weight: 500;
}

.button-holder{
  text-align: center;
}

#login-submit{
  border: 2px solid #00BBFF;
  background-color: #00BBFF;
  text-align: center;
  width: 7rem;
  height: 3rem;
  font-weight: bold;
  border-radius: .2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: white;
}

#login-submit:hover {
  color: black;
  background-color: #a8e7ff;
}

.logout-btn{
  margin-top: 3rem;
  border: 3px solid #00BBFF;
  background-color: #00BBFF;
  font-weight: bold;
  text-align: center;
  border-radius: .2rem;
  width: 10rem;
  height: 4rem;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.logout-btn p{

}

.logout-btn:hover {
  color: black;
  background-color: #a8e7ff;
}

.title{
  margin: 0;
  color: #5e5e5e;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.7rem;
}
