@media (orientation: landscape) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: .7rem;
    padding-right: 12rem;
    padding-left: 11rem;
    padding-bottom: .5rem;
    background-color: #efefef;
    border-bottom: 5px solid #e5e5e5;
    font-weight: bold;
  }
}

@media (orientation: portrait) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: .7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    background-color: #efefef;
    border-bottom: 5px solid #e5e5e5;
    font-weight: bold;
  }
  .styled-select-nav {
    margin-top: .6rem;
     height: 3rem;
     overflow: hidden;
     width: 13rem;
     outline: none;
  }

  .styled-select-nav select {
     margin-top: .4rem;
     margin-left: .5rem;
     background: transparent;
     border: none;
     font-weight: bold;
     font-size: 1.01rem;
     height: 2rem;
     padding: 5px; /* If you add too much padding here, the options won't show in IE */
     width: 9rem;
     outline: none;
  }

  .semi-square {
     border-radius: .2rem;
  }

  .blue    { background-color: #00BBFF; }
  .blue select    { color: #fff; }
}



.nav-item{
  margin: 1rem;
  margin-top: 1.7rem;
}

.nav-item:visited {
  color: gray;
  text-decoration: none;
}
.nav-item:link {
  color: gray;
  text-decoration: none;
}

.nav-item:hover {
  color: black
}

#signup{
  background-color: #00BBFF;
  text-align: center;
  margin-top: .7rem;
  margin-left: 1rem;
  border-radius: .2rem;
  padding-top: .7rem;
  height: 2rem;
  width: 6rem;
  border: 2px solid #00BBFF;
  color: white;
}
#signup:visited {
  color: white;
  text-decoration: none;
}
#signup:link {
  color: white;
  text-decoration: none;
}
#signup:hover {
  color: black;
  background-color: #a8e7ff;
}

.image{
  outline: none;
  height: 70px;
  width: auto;
  margin-right: 1rem;
}

.cool-nav-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.log-nav-container {
  display: flex;
}
