@media only screen and (min-width: 1000px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: .7rem;
    padding-right: 12rem;
    padding-left: 11rem;
    padding-bottom: .5rem;
    background-color: #efefef;
    border-bottom: 5px solid #e5e5e5;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: .7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    background-color: #efefef;
    border-bottom: 5px solid #e5e5e5;
    font-weight: bold;
  }
}



.nav-item{
  margin: 1rem;
  margin-top: 1.7rem;
}

.nav-item:visited {
  color: gray;
  text-decoration: none;
}
.nav-item:link {
  color: gray;
  text-decoration: none;
}

.nav-item:hover {
  color: black
}

#signup{
  background-color: #00BBFF;
  text-align: center;
  margin-top: .7rem;
  margin-left: 1rem;
  border-radius: .2rem;
  padding-top: .7rem;
  height: 2rem;
  width: 6rem;
  border: 2px solid #00BBFF;
  color: white;
}
#signup:visited {
  color: white;
  text-decoration: none;
}
#signup:link {
  color: white;
  text-decoration: none;
}
#signup:hover {
  color: black;
  background-color: #a8e7ff;
}

.image{
  outline: none;
  height: 70px;
  width: auto;
  margin-right: 1rem;
}

.cool-nav-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.log-nav-container {
  display: flex;
}
