.pallet-show-container{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  flex-direction: row;
}

.pallet-show{
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 2px solid #e5e5e5;
  background-color: #efefef;
  border-radius: .2rem
}

.pallet-show-pallet{
  display: flex;
}

.button-container{
  margin-right: .5rem;
  margin-left: 1.5rem;
}

.btn{
  border: 2px solid #b2b2b2;
  background-color: #b2b2b2;
  text-align: center;
  width: 5rem;
  height: 2.1rem;
  border-radius: .2rem;
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
}

.btn:hover {
  background-color: #a8e7ff;
  border: 2px solid #00BBFF;
  color: black;
}

.btn p {
  margin: .5rem;
}

#backbtn {
  margin-bottom: 0rem
}
#backbtn:hover {
  background-color: #ff9eb4;
  border: 2px solid #FF668A;
  color: black;
}

.mockup-container p {
  margin-left: 1rem;
}
.mockup-container{
  margin-top: 2rem;
  color: gray;
}

.star-one-container{
  border-radius: .2rem;
  border: 2px solid #e5e5e5;
  background-color: #efefef;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.unit-container{
  margin-right: .5rem;
  margin-left: .5rem;
  margin-top: 1.5rem;
  font-weight: 600;
  border-radius: .2rem;
  background-color: #b2b2b2;
  display: flex;
  justify-content: space-around;
}

.unit-btn{
  width: 100%;
  text-align: center;
  height: 2.1rem;
  color: white;
  font-weight: 600;
}

#hex{
  border-right: 2px solid white;
}
#rgb{
  border-right: 2px solid white;
  border-left: 2px solid white;
}
#hsl{
  border-left: 2px solid white;
}

.unit-btn:hover {
  background-color: #a8e7ff;
  color: black;
}

.unit-btn p {
  margin: .5rem;
}

.info-container {
  color: gray;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.info-header{
  margin: 0;
  font-weight: bold;
}

.styled-select {
   background: url(../../images/arrow.png) no-repeat 96% 0;
   height: 2.2rem;
   overflow: hidden;
   width: 14rem;
   outline: none;
   margin-left: 1rem;
   margin-top: 2.5rem;
   margin-bottom: 1rem;
}

.styled-select select {
   background: transparent;
   border: none;
   font-weight: bold;
   font-size: 1.01rem;
   height: 2rem;
   padding: 0rem; /* If you add too much padding here, the options won't show in IE */
   width: 16rem;
   outline: none;
}

.semi-square {
   border-radius: .2rem;
}

.blue    { background-color: #00BBFF; }
.blue select    { color: #fff; }
