.pallet{
  display: flex;
  margin-top: 2rem;
  margin-bottom: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  border: 2px dashed #bababa;
}

.pallet:hover {
  background-color: #efefef;
}

.delete-btn{
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
  margin-left: .5rem;
  border: 2px solid #bababa;
}

.delete-btn p {
  margin: 0rem;
  text-align: center;
  justify-content: center;
  padding-top: .4rem;
}

.delete-btn:hover {
  background-color: #FFB3B6;
}
