.App {
  text-align: left;
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
}
.pallet{
  display: flex;
  margin-right: 5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-right: .2rem;
  padding-left: .2rem;
  border: 2px dotted gray;
}

p{
  margin: 0rem;
  font-size: .8rem;
}
.color-picker{
  margin-right: 5rem
}
